@page "/"

<PageTitle>Principal</PageTitle>
<h1 style="color:#FFFFFF; text-shadow: 1.5px 2.5px rgba(0, 0, 0, 0.5); margin: 50px; text-align:center">Página Principal</h1>
<h4 style="color:#FFFFFF; text-shadow: 1.5px 2.5px rgba(0, 0, 0, 0.5); margin: 20px; text-align:center">Segundo parcial de Programaci&oacute;n Aplicada I</h4>
<h5 style="color:#FFFFFF; text-shadow: 1.5px 2.5px rgba(0, 0, 0, 0.5); text-align:center">Entregado por Samuel Dur&aacute;n a Enel Almonte</h5>

