@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<PageTitle>Samuel_Duran_Ap1_p2-</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<BlazoredToasts Timeout="4" />